# my.cnf
[client]
database = cd67003_test
host = 92.53.96.181
user = cd67003_test
password = yVRG3yCX
default-character-set = utf8

"mysql+pymysql://cd67003_test:yVRG3yCX@92.53.96.181:3306/cd67003_test"